.filter {
  margin: 40px 40px 40px 40px;
  width: 800px;

}

table {
  width: 800px;
  height: 800px;
  margin: 50px 50px;
}

.mat-column-AccountNo {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.mat-column-Date {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}


.mat-column-TransactionDetails {
  flex: 0 0 300px;
  min-width: 300px;
  max-width: 300px;
}


.mat-column-ValueDate {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.mat-column-WithdrawalAMT {
  flex: 0 0 200px;
  min-width: 200px;
  max-width: 200px;
}

.mat-column-DepositAMT {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.mat-column-BalanceAMT {
  flex: 0 0 100px;
  min-width: 100px;
  max-width: 100px;
}

