<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="AccountNo">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Account No. </th>
    <td mat-cell *matCellDef="let element"> {{element.AccountNo}} </td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>

  <ng-container matColumnDef="TransactionDetails">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> TransactionDetails </th>
    <td mat-cell *matCellDef="let element"> {{element.TransactionDetails}} </td>
  </ng-container>

  <ng-container matColumnDef="ValueDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> ValueDate </th>
    <td mat-cell *matCellDef="let element"> {{element.ValueDate}} </td>
  </ng-container>

  <ng-container matColumnDef="WithdrawalAMT">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> WithdrawalAMT </th>
    <td mat-cell *matCellDef="let element"> {{element.WithdrawalAMT}} </td>
  </ng-container>

  <ng-container matColumnDef="DepositAMT">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> DepositAMT </th>
    <td mat-cell *matCellDef="let element"> {{element.DepositAMT}} </td>
  </ng-container>

  <ng-container matColumnDef="BalanceAMT">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> BalanceAMT </th>
    <td mat-cell *matCellDef="let element"> {{element.BalanceAMT}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
